<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.app118.dao.region.RegionMapper" >
  <resultMap id="BaseResultMap" type="cn.app118.model.Region" >
    <id column="REGION_ID" property="regionId" jdbcType="DOUBLE" />
    <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR" />
    <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DOUBLE" />
    <result column="REGION_LEVEL" property="regionLevel" jdbcType="DOUBLE" />
    <result column="REGION_ORDER" property="regionOrder" jdbcType="DOUBLE" />
    <result column="REGION_NAME_EN" property="regionNameEn" jdbcType="VARCHAR" />
    <result column="REGION_SHORTNAME_EN" property="regionShortnameEn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    REGION_ID, REGION_CODE, REGION_NAME, PARENT_ID, REGION_LEVEL, REGION_ORDER, REGION_NAME_EN, 
    REGION_SHORTNAME_EN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select 
    <include refid="Base_Column_List" />
    from sys_region
    where REGION_ID = #{regionId,jdbcType=DOUBLE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Double" >
    delete from sys_region
    where REGION_ID = #{regionId,jdbcType=DOUBLE}
  </delete>
  <insert id="insert" parameterType="cn.app118.model.Region" >
    insert into sys_region (REGION_ID, REGION_CODE, REGION_NAME, 
      PARENT_ID, REGION_LEVEL, REGION_ORDER, 
      REGION_NAME_EN, REGION_SHORTNAME_EN)
    values (#{regionId,jdbcType=DOUBLE}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=DOUBLE}, #{regionLevel,jdbcType=DOUBLE}, #{regionOrder,jdbcType=DOUBLE}, 
      #{regionNameEn,jdbcType=VARCHAR}, #{regionShortnameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.app118.model.Region" >
    insert into sys_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        REGION_ID,
      </if>
      <if test="regionCode != null" >
        REGION_CODE,
      </if>
      <if test="regionName != null" >
        REGION_NAME,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="regionLevel != null" >
        REGION_LEVEL,
      </if>
      <if test="regionOrder != null" >
        REGION_ORDER,
      </if>
      <if test="regionNameEn != null" >
        REGION_NAME_EN,
      </if>
      <if test="regionShortnameEn != null" >
        REGION_SHORTNAME_EN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        #{regionId,jdbcType=DOUBLE},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="regionLevel != null" >
        #{regionLevel,jdbcType=DOUBLE},
      </if>
      <if test="regionOrder != null" >
        #{regionOrder,jdbcType=DOUBLE},
      </if>
      <if test="regionNameEn != null" >
        #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.app118.model.Region" >
    update sys_region
    <set >
      <if test="regionCode != null" >
        REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="regionLevel != null" >
        REGION_LEVEL = #{regionLevel,jdbcType=DOUBLE},
      </if>
      <if test="regionOrder != null" >
        REGION_ORDER = #{regionOrder,jdbcType=DOUBLE},
      </if>
      <if test="regionNameEn != null" >
        REGION_NAME_EN = #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        REGION_SHORTNAME_EN = #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where REGION_ID = #{regionId,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.app118.model.Region" >
    update sys_region
    set REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      REGION_NAME = #{regionName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DOUBLE},
      REGION_LEVEL = #{regionLevel,jdbcType=DOUBLE},
      REGION_ORDER = #{regionOrder,jdbcType=DOUBLE},
      REGION_NAME_EN = #{regionNameEn,jdbcType=VARCHAR},
      REGION_SHORTNAME_EN = #{regionShortnameEn,jdbcType=VARCHAR}
    where REGION_ID = #{regionId,jdbcType=DOUBLE}
  </update>
  <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_region
    where PARENT_ID = #{parentId,jdbcType=DOUBLE}
  </select>
  
</mapper>