<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.app118.dao.org.OrgMapper" >
  <resultMap id="BaseResultMap" type="cn.app118.model.Org" >
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_no" property="orgNo" jdbcType="VARCHAR" />
    <result column="org_pid" property="orgPid" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="abbr" property="abbr" jdbcType="VARCHAR" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="sys_type" property="sysType" jdbcType="VARCHAR" />
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    <result column="isactive" property="isactive" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, org_no, org_pid, org_name, abbr, org_type, user_id, mobile, fax, sys_type, 
    sort_no, isactive, remark,create_time
  </sql>
  <sql id="Base_Column_List_Pager" >
    org_id orgId, org_no orgNo, org_pid orgPid, org_name orgName, abbr, org_type orgType,
    (SELECT code_name FROM  sys_code where code_id=sys_org.org_type) orgTypeCn,
     user_id userId, mobile, fax, sys_type sysType, 
    sort_no sortNo, isactive, remark,create_time createTime
  </sql>
  <sql id="pager">
      limit ${start},${len}
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_org
    where org_id = #{orgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_org
    where org_id = #{orgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.app118.model.Org" >
    insert into sys_org (org_id, org_no, org_pid, 
      org_name, abbr, org_type, 
      user_id, mobile, fax, 
      sys_type, sort_no, isactive, 
      remark,create_time)
    values (#{orgId,jdbcType=INTEGER}, #{orgNo,jdbcType=VARCHAR}, #{orgPid,jdbcType=INTEGER}, 
      #{orgName,jdbcType=VARCHAR}, #{abbr,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{sysType,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, #{isactive,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.app118.model.Org" >
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgNo != null" >
        org_no,
      </if>
      <if test="orgPid != null" >
        org_pid,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="abbr != null" >
        abbr,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="sysType != null" >
        sys_type,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="isactive != null" >
        isactive,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgNo != null" >
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="orgPid != null" >
        #{orgPid,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null" >
        #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.app118.model.Org" >
    update sys_org
    <set >
      <if test="orgNo != null" >
        org_no = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="orgPid != null" >
        org_pid = #{orgPid,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null" >
        abbr = #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        sys_type = #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isactive != null" >
        isactive = #{isactive,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time=#{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.app118.model.Org" >
    update sys_org
    set org_no = #{orgNo,jdbcType=VARCHAR},
      org_pid = #{orgPid,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      abbr = #{abbr,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      sys_type = #{sysType,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      isactive = #{isactive,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  
  <!-- 组织机构分页查询 -->
  <select id="selectByPager"  resultType="java.util.Map" parameterType="java.util.Map" >
    select <include refid="Base_Column_List_Pager" />
    from sys_org
    <where >
      <if test="orgNo != null" >
        and org_no = #{orgNo,jdbcType=VARCHAR}
      </if>
      <if test="orgPid != null" >
        and org_pid = #{orgPid,jdbcType=INTEGER}
      </if>
      <if test="orgName != null" >
        and instr(org_name,#{orgName,jdbcType=VARCHAR})>0
      </if>
      <if test="abbr != null" >
        and abbr = #{abbr,jdbcType=VARCHAR}
      </if>
      <if test="orgType != null" >
        and org_type = #{orgType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="mobile != null" >
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="fax != null" >
        and fax = #{fax,jdbcType=VARCHAR}
      </if>
      <if test="sysType != null" >
        and sys_type = #{sysType,jdbcType=VARCHAR}
      </if>
      <if test="sortNo != null" >
        and sort_no = #{sortNo,jdbcType=INTEGER}
      </if>
      <if test="isactive != null" >
        and isactive = #{isactive,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null" >
        and org_id = #{orgId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="fromCreateTime != null">
		<![CDATA[
	   	 and create_time >= #{fromCreateTime,jdbcType=TIMESTAMP}
	    ]]>
	</if>
	<if test="toCreateTime != null">
		<![CDATA[
	   	 and create_time <= #{toCreateTime,jdbcType=TIMESTAMP}
	    ]]>
	</if>
    </where>
     <if test="orderBy != null" >
      ${orderBy}
     </if>
	 <include refid="pager" />
  </select>
  
  <!-- 组织机构分页查询总记录数 -->
  <select id="selectByPagerCount"  resultType="java.lang.Integer"  parameterType="java.util.Map">
    select count(org_id)
    from sys_org
    <where >
      <if test="orgNo != null" >
        and org_no = #{orgNo,jdbcType=VARCHAR}
      </if>
      <if test="orgPid != null" >
        and org_pid = #{orgPid,jdbcType=INTEGER}
      </if>
      <if test="orgName != null" >
        and instr(org_name,#{orgName,jdbcType=VARCHAR})>0
      </if>
      <if test="abbr != null" >
        and abbr = #{abbr,jdbcType=VARCHAR}
      </if>
      <if test="orgType != null" >
        and org_type = #{orgType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="mobile != null" >
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="fax != null" >
        and fax = #{fax,jdbcType=VARCHAR}
      </if>
      <if test="sysType != null" >
        and sys_type = #{sysType,jdbcType=VARCHAR}
      </if>
      <if test="sortNo != null" >
        and sort_no = #{sortNo,jdbcType=INTEGER}
      </if>
      <if test="isactive != null" >
        and isactive = #{isactive,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null" >
        and org_id = #{orgId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
        <if test="fromCreateTime != null">
		<![CDATA[
	   	 and create_time >= #{fromCreateTime,jdbcType=TIMESTAMP}
	    ]]>
	</if>
	<if test="toCreateTime != null">
		<![CDATA[
	   	 and create_time <= #{toCreateTime,jdbcType=TIMESTAMP}
	    ]]>
	</if>
    </where>
  </select>
  
   <select id="selectBySelective"  resultMap="BaseResultMap" parameterType="cn.app118.model.Org" >
    select <include refid="Base_Column_List" />
    from sys_org
    <where >
      <if test="orgNo != null" >
        and org_no = #{orgNo,jdbcType=VARCHAR}
      </if>
      <if test="orgPid != null" >
        and org_pid = #{orgPid,jdbcType=INTEGER}
      </if>
      <if test="orgName != null" >
        and org_name = #{orgName,jdbcType=VARCHAR}
      </if>
      <if test="abbr != null" >
        and abbr = #{abbr,jdbcType=VARCHAR}
      </if>
      <if test="orgType != null" >
        and org_type = #{orgType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="mobile != null" >
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="fax != null" >
        and fax = #{fax,jdbcType=VARCHAR}
      </if>
      <if test="sysType != null" >
        and sys_type = #{sysType,jdbcType=VARCHAR}
      </if>
      <if test="sortNo != null" >
        and sort_no = #{sortNo,jdbcType=INTEGER}
      </if>
      <if test="isactive != null" >
        and isactive = #{isactive,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null" >
        and org_id = #{orgId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
     order by org_id desc
  </select>
  
</mapper>