<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.app118.dao.user.UserGpsInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.app118.model.UserGpsInfo" >
    <id column="gps_id" property="gpsId" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="location_time" property="locationTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    gps_id, longitude, latitude, location_time, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_gps_info
    where gps_id = #{gpsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_gps_info
    where gps_id = #{gpsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.app118.model.UserGpsInfo" >
    insert into sys_user_gps_info (gps_id, longitude, latitude, 
      location_time, user_id)
    values (#{gpsId,jdbcType=INTEGER}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{locationTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.app118.model.UserGpsInfo" >
    insert into sys_user_gps_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gpsId != null" >
        gps_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="locationTime != null" >
        location_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gpsId != null" >
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null" >
        #{locationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.app118.model.UserGpsInfo" >
    update sys_user_gps_info
    <set >
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null" >
        location_time = #{locationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where gps_id = #{gpsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.app118.model.UserGpsInfo" >
    update sys_user_gps_info
    set longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      location_time = #{locationTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER}
    where gps_id = #{gpsId,jdbcType=INTEGER}
  </update>
</mapper>